.invisible {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/*
@mixin when-xs($rules...) {
  @media (max-width: $screen-xs-max) { $rules }
}
@mixin when-sm($rules...) {
  @media (min-width: $screen-sm-min) { $rules }
}
@mixin when-md($rules...) {
  @media (min-width: $screen-md-min) { $rules }
}
@mixin when-lg($rules...) {
  @media (min-width: $screen-lg-min) { $rules }
} */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.mdl-layout__drawer-button, .mdl-layout__drawer {
  left: initial;
  right: 0; }

.mdl-layout__drawer {
  transform: translateX(250px); }

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #737575;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.section {
  display: block;
  min-height: 30vh;
  background-color: #ffffff; }

.image-full {
  margin: 40px 0 0 0;
  position: relative; }
  .image-full.stacked {
    margin: 0; }
  .image-full .content {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 25%; }

.p-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.parallax {
  background-attachment: fixed; }

.p-image-01 {
  background-image: url(../images/07-Bogie-highlight-2x.jpg); }

.p-image-02 {
  background-image: url(../images/04-1st-class-interior-2x.jpg); }

.p-image-03 {
  background-image: url(../images/photo.jpg); }
  @media only screen and (max-width: 479px) {
    .p-image-03 {
      background-image: url(../images/0403.jpg); } }
