/* CSS3 calc() function to perform calculations */
/*
@mixin when-xs($rules...) {
  @media (max-width: $screen-xs-max) { $rules }
}
@mixin when-sm($rules...) {
  @media (min-width: $screen-sm-min) { $rules }
}
@mixin when-md($rules...) {
  @media (min-width: $screen-md-min) { $rules }
}
@mixin when-lg($rules...) {
  @media (min-width: $screen-lg-min) { $rules }
} */
body {
  font-size: 12pt;
  line-height: 1.5;
  color: #737575;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #ffffff url("../images/background.png") repeat; }

.search-widget a {
  color: black; }

header img {
  margin-top: 0.5em; }

.navbar.navbar-toggleable-md {
  z-index: 100; }

#main-nav {
  margin-left: 1em; }
  #main-nav li:not(:last-child) {
    border-right: 1px solid #333; }
  #main-nav a {
    color: white;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em; }

.navbar-brand {
  margin-left: -webkit-calc(50% - 78px);
  margin-left: -moz-calc(50% - 78px);
  margin-left: calc(50% - 78px); }

.container-fluid {
  z-index: 50;
  margin-bottom: 2em; }
  .container-fluid .row {
    background-color: #e2e2e2; }

.home-intro, .home-secondary-info {
  margin-bottom: 1.5em; }

.card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .card .card-header {
    background-color: black;
    color: #ccc; }
    .card .card-header:first-child {
      border-radius: 10px 10px 0 0; }

footer {
  color: white; }
  footer .row {
    padding: 1.5em 1em; }
    footer .row.copyright {
      padding: 0 1em; }
    footer .row .row {
      padding: 0; }
  footer strong {
    text-transform: uppercase;
    margin-bottom: .75em;
    display: block; }
  footer p, footer li {
    color: #999;
    font-size: 10pt; }
  footer ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    margin: 0; }
  footer li {
    padding-left: 0px; }
  footer li:before {
    content: "+";
    padding-right: 4px;
    color: #999; }
  footer .col-sm-12 {
    border-top: 1px solid #999;
    padding-top: 1em; }

@media only screen and (max-width: 767px) {
  #home-carousel {
    display: none; } }

@media only screen and (min-width: 320px) {
  header img {
    margin: 0 auto; }
  .navbar-brand {
    min-height: 2em; }
    .navbar-brand img {
      display: none; }
  .navbar {
    margin: 1em 0; }
  #home-carousel {
    margin-bottom: 1.5em; }
  .container-fluid .row {
    margin-top: -1em; }
    .container-fluid .row .col-sm-12 {
      padding: 2em 0 2em 1.5em; } }

@media only screen and (min-width: 768px) {
  .search-widget .form-inline {
    width: 400px; }
    .search-widget .form-inline .form-control {
      width: 300px;
      padding-top: 0px;
      padding-bottom: 0px; }
  .search-widget a:after {
    content: ' | ';
    padding-left: .25em; }
  .search-widget li:last-child a:after {
    content: ''; }
  .search-widget .nav-link {
    padding: .5em 0 .5em .5em; }
  .search-widget button {
    background: black;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 11pt; } }

@media only screen and (min-width: 992px) {
  .navbar-brand img {
    display: inline; }
  .container {
    width: 960px; }
  .home-intro .card {
    width: 95%;
    margin: 0 auto; }
  #home-carousel .carousel-inner {
    margin-left: 24px;
    max-width: 882px;
    padding: 1em;
    background-color: white;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  #home-carousel .carousel-control-prev-icon {
    background-image: url("../images/left-arrow.png");
    margin-left: -46px;
    width: 41px;
    height: 41px; }
  #home-carousel .carousel-control-next-icon {
    background-image: url("../images/right-arrow.png");
    margin-right: -46px;
    width: 41px;
    height: 41px; }
  #home-carousel .carousel-control-next, #home-carousel .carousel-control-prev {
    width: 6%;
    opacity: 1; }
  .container-fluid .row {
    margin-top: -4em; }
    .container-fluid .row .col-sm-12 {
      padding: 2em 0 2em 15.5em; }
  .navbar.navbar-toggleable-md {
    max-height: 45px;
    margin: 35px 0;
    margin-bottom: 4em;
    background: linear-gradient(to bottom, #666666 0%, #000000 100%); }
  .home-secondary-info {
    width: 95%;
    margin: 0 auto 2.5em; }
  footer {
    margin-top: 3em; } }
